ErrorDocument 403 /404.php?error=403
ErrorDocument 404 /404.php

RewriteEngine On

RewriteRule ^user/([0-9]+)$ /user.php?id=$1 [L]
RewriteRule ^user/(.+)$ /user.php?name=$1 [L]

RewriteRule ^level/([0-9]+)$ /level.php?id=$1 [L]

# Restrict some stuff normal people shouldn't touch
RewriteRule ^(.git) - [F,L]
RewriteRule ^(conf) - [F,L]
RewriteRule ^(lib) - [F,L]
RewriteRule ^(sql) - [F,L]
RewriteRule ^(templates) - [F,L]
RewriteRule ^(tools) - [F,L]
RewriteRule ^(vendor) - [F,L]
RewriteRule ^(composer) - [F,L]
