// Include normal styling, so only one stylesheet file needs to be loaded.
@import "style";

body {
	background-color: #0f0f0f;
	color: #fff;
}

a {
	color: #4caaf7;
}

.headernews {
	background-color: #1c1c83;

	a {
		color: #4caaf7;
	}
}

.topmenu {
	color:#555;

	.notifs {
		color: #20aa20;
	}
}

.top {
	background-color: #202020;
}

.menu {
	a.btn {
		background-color: #000;
		color: #fff;
	}

	a.selected {
		border-bottom: 2px solid rgb(0, 255, 55);
	}
}

ul.comments {
	li {
		&:nth-child(odd) {
			background-color: #1b1b1b;
		}
	}
}

table.lvlinfo {
	background-color: #1c2b18;
}

ul.level-list {
	li {
		h3 {
			color: #fff;
		}
		p {
			color: #aaa;
		}
	}
}


// Settings \\

.settings {
	td, th {
		border-bottom: 1px solid #333;
	}

	tr th {
		background-color: #080808;
	}

	tr {
		&:nth-child(odd)  { background-color: #0a0a0a; }
		&:nth-child(even) { background-color: #171717; }
	}
}

/// Generic form element overrides \\\

textarea, input[type=text], input[type=password] {
	background-color: #0f0f0f;
	border: 2px solid #aaa;
	color: white;
}

/// Invert icons \\\

.search, .sdsd {
	filter: invert(1);
}
