{% extends "_layout.twig" %}

{% block title %}Chat{% endblock %}

	{% block content %}
<h2>Chat</h2>
<p>Welcome to the apparatus-web chat.</p>

{{ comments(comments, 'chat', '1') }}
<br>
	{% endblock %}