{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}

{% if not log and not is_android_webview() %}
<div class="skit">
	<h1 style="clear:both;padding-top:1em;">Welcome to apparatus-web!</h1>

	<p>Apparatus-web is an unofficial community site replacement for the game Apparatus, as the official community site was shut down in early 2018.</p>

	<p>To be able to play and upload levels, you will need to <a href="/download.php">update the game to 1.2.2</a>, which allows the game to connect to apparatus-web along other things.</p>
</div>
{% endif %}

<h1 style="clear:both;padding-top:1em;">Latest apparatuses</h1>
<ul class="level-list">
{% for apparatus_level in apparatus_levels %}
	{{ level(apparatus_level) }}
{% else %}
	There are no apparatus levels. You could create one!
{% endfor %}
</ul>

<h1 style="clear:both;">Latest challenges</h1>
<ul class="level-list">
{% for challenge_level in challenge_levels %}
	{{ level(challenge_level) }}
{% else %}
	There are no challenge levels. You could create one!
{% endfor %}
</ul>
	{% endblock %}