{% extends "_layout.twig" %}

{% block title %}Latest levels{% endblock %}

{% set selected = 3 %}

	{% block content %}
<h1>Latest levels</h1>

<ul class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% else %}
	There are no levels. You could create one!
{% endfor %}
</ul>

{% if type == 'all' %}
	{% set le_url = '/latest.php?page=%s' %}
{% else %}
	{% set le_url = '/latest.php?type=' ~ type ~ '&page=%s' %}
{% endif %}
{{ pagination(level_count, glob_lpp, le_url, page) }}
	{% endblock %}