{% extends "_layout.twig" %}

{% block title %}Settings{% endblock %}

	{% block content %}
<form action="/settings.php" method="post">
<h2>Settings</h2>

<table class="settings">
	<tr>
		<th></th>
		<th class="left">Customise your profile</th>
	</tr>

	{% if userdata.rank > 1 %}
	<tr>
		<td class="a">Custom color</td>
		<td class="b"><input type="color" name="customcolor" value="#{{ userdata.customcolor | default('0000aa') }}"></td>
	</tr>
	{% endif %}
	<tr>
		<td class="a">
			About
			<br><em>Introduce yourself! Markdown allowed.</em>
		</td>
		<td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ userdata.about }}</textarea></td>
	</tr>

	<tr>
		<th></th>
		<th class="left">Options</th>
	</tr>
	<tr>
		<td class="a">Dark mode</td>
		<td class="b">
			<label><input type="radio" name="darkmode" value="0" {% if not userdata.darkmode %}checked{% endif %}>Disabled </label>
			<label><input type="radio" name="darkmode" value="1" {% if userdata.darkmode %}checked{% endif %}>Enabled </label>
		</td>
	<tr>
		<td class="a">Timezone</td>
		<td class="b">
			<select name="timezone">
				{% for timezone in timezones %}
					<option value="{{ timezone }}" {% if userdata.timezone == timezone %}selected{% endif %}>{{ timezone }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>

	<tr>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td class="a"></td>
		<td class="b"><input type="submit" name="action" value="Save all changes">
	</tr>
</table>
	{% endblock %}